<div class="app-container">
  <!-- Encabezado -->
  <header class="app-header">
    
    <button class="btn btn-sm btn-outline-light" (click)="cerrarSesion()">Cerrar sesión</button>
  </header>

  <!-- Contenido dinámico -->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- Navbar inferior -->
  <nav class="app-navbar">
    <a routerLink="/repartidor/pedidos" routerLinkActive="active">
      📦<span>Pedidos</span>
    </a>
    <a routerLink="/repartidor/historial" routerLinkActive="active">
      📜<span>Historial</span>
    </a>
    <a (click)="cerrarSesion()">
      🚪<span>Salir</span>
    </a>
  </nav>
  
</div>
